APP_DEBUG=falseDEFAULT_TIMEZONE=Asia/Shanghai[DATABASE]HOST=127.0.0.1PORT=3306DATABASE=dbnameUSERNAME=rootPASSWORD=passwordCHARSET=utf8mb4LOG=true[CACHE]HOST=127.0.0.1PORT=6379PASSWORD=password